<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Your password reset has been sucessful.</p>
        <p>You may now login to the application with new password.</p>
    </body>
</html>