<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Saludos {{name}},</p>
        <p>Su contraseña ha sido cambiada exitosamente.</p>
        <p>Puede acceder a Agrobox con su nueva contraseña.</p>
    </body>
</html>