<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hola {{name}},</p>
        <p>Usted ha solicitado cambiar su contraseña.</p>
        <p>Siga al siguiente enlace para cambiar la misma.</p>
        <a href="{{link}}">Cambiar Contraseña</a>
    </body>
</html>